*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/kmp-facelink/build
/kmp-facelink-actions/build
/kmp-facelink-avatar/build
/kmp-facelink-effects/build
/androidApp/build
*.hprof
.kotlin/
progress.txt

# MediaPipe model files (downloaded at build time)
*.task
